<mat-tab-group *ngIf="(displayLog && displayControls)">
        <mat-tab label="Grafické rozhranie">

                <mat-grid-list cols="3" rowHeight="3:2">
                        <mat-grid-tile>
                                <ngx-gauge [type]="gaugeType" [value]="displayLog['gInputAI_1_Sup']" [label]="'Teplota vstup'" [append]="'°C'" [min]=0 [max]=50
                                        [thick]=20>
                                </ngx-gauge>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <ngx-gauge [type]="gaugeType" [value]="displayLog['gInputAI_2_Exh']" [label]="'Teplota výstup'" [append]="'°C'"
                                        [thick]=20>
                                </ngx-gauge>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <ngx-gauge [type]="gaugeType" [value]="displayLog['gInputAI_2_Room']" [label]="'Teplota sála'" [append]="'°C'"
                                        [thick]=20>
                                </ngx-gauge>
                        </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="1" rowHeight="15:1">
                        <mat-grid-tile>
                                <h3>Aktívny mód: {{displayControls['gOpMode_Main']}} </h3>
                        </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="2" rowHeight="3:2">
                        <mat-grid-tile>

                                <ngx-gauge [type]="gaugeTypeVent" [value]="displayControls['gSetManSetpFreqSup']" [label]="'Vstup'" [append]="'%'" [thick]=20>
                                </ngx-gauge>
                        </mat-grid-tile>
                        <mat-grid-tile>

                                <ngx-gauge [type]="gaugeTypeVent" [value]="displayControls['gSetManSetpFreqExh']" [label]="'Výstup'" [append]="'%'" [thick]=20>
                                </ngx-gauge>
                        </mat-grid-tile>

                </mat-grid-list>

        </mat-tab>


        <mat-tab label="Tabuľka">

                <table>
                        <tr *ngFor="let attribute of attributes">
                                <td>{{attribute.variable}}</td>
                                <td>{{attribute.name}}</td>
                                <td>{{attribute.value}}</td>
                        </tr>
                </table>

                <!--     <div class="mat-elevation-z8">
                        <mat-table #table *ngIf="attributes" [dataSource]="attributes">

                             
                                <ng-container matColumnDef="variable">
                                        <mat-header-cell *matHeaderCellDef> Premenná </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.variable}} </mat-cell>
                                </ng-container>

                             
                                <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef> Názov </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                </ng-container>

                      
                                <ng-container matColumnDef="value">
                                        <mat-header-cell *matHeaderCellDef> Hodnota </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                </div> -->
        </mat-tab>
</mat-tab-group>